<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Blizzard.com news articles
        <small>Testing out my scraper with some blizzard news</small>
    </h1>

    {{#each results}}
    <br>
    <div class="row">
        <div class="col">
            <small>{{subtitle}}</small>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a class="btn btn-primary" href="{{link}}">View on Blizzard</a>
            <button type="button" class="commentButton btn btn-secondary" id="{{_id}}">Comment</button>
        </div>
    </div>
    <br>
    <div class="row" id="comments">
        {{#if comments}}
            {{#each comments}}
            <div class="col" id="{{id}}">
                <h6>{{name}}</h6>
                <p>{{body}}</p>
                </div>
            {{/each}}
        {{/if}}

    </div>
    <div class="row commentForm" id="{{_id}}" style="display: none">
        <div class="col">
            <form action="/comment" method="POST" id="{{_id}}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" type="text" name="name"></input>
                </div>
                <div class="form-group">
                    <label for="Textarea">Comment:</label>
                    <textarea class="form-control" rows="3" name="body"></textarea>
                </div>
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    {{/each}}

</div>