<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Blizzard News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Chambrse/MongoScraper">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shanechambry.com">Portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Blizzard.com news articles {{!-- <small>Testing out my scraper with some blizzard news</small> --}}
    </h1>

    <img src="images/blizz.jpg" style="max-width: 100%; margin-bottom: 20px;" />

    {{#each results}}
    <br>
    <div id="articleDiv">
        <div class="row">
            <div class="col">
                <small>{{subtitle}}</small>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <a class="btn btn-primary" href="{{link}}">View on Blizzard</a>
                <button type="button" class="commentButton btn btn-secondary" id="{{_id}}">Comment</button>
            </div>
        </div>
        <br>
        <div class="row" id="comments">
            {{#if comments}}
            <div class="col-12">
            Comments:
            </div>
            <hr>
            {{#each comments}}
            <div class="col-12 commentDiv" style="position: relative" id="{{id}}">
                <h6><strong>{{name}}:</strong></h6>
                <p>{{body}}</p>
                <button type="button" style="position: absolute; right: 20px; top: 20px;" id="{{id}}" class="btn btn-secondary deleteButton">Delete</button>
            </div>
            {{/each}} {{/if}}
        </div>
        <div class="row commentForm" id="{{_id}}" style="display: none">
            <div class="col">
                <form action="/comment" method="POST" id="{{_id}}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" type="text" name="name"></input>
                    </div>
                    <div class="form-group">
                        <label for="Textarea">Comment:</label>
                        <textarea class="form-control" rows="3" name="body"></textarea>
                    </div>
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{/each}}

</div>